#page-mod-quiz-report-answersheets-attemptsheet .attempt-sheet-header {
    display: none;
}

#page-mod-quiz-report-answersheets-attemptsheet .attempt-sheet-header-gecko {
    display: block;
    position: absolute;
    border-bottom: 1px solid grey;
    left: 15px;
    right: 15px;
}

#page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) table.attempt-sheet-container {
    width: 100%;
}

#page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) table.attempt-sheet-container tr {
    page-break-inside: auto;
}

#page-mod-quiz-report-answersheets-attemptsheet .que .content .question-instruction {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

/* Nasty hack to prevent the scrollbar appears in the Print view. */
#page-mod-quiz-report-answersheets-attemptsheet .que .info,
#page-mod-quiz-report-answersheets-attemptsheet .que .formulation,
#page-mod-quiz-report-answersheets-attemptsheet .que .feedback {
    page-break-inside: auto;
}

#page-mod-quiz-report-answersheets-attemptsheet .que .info ~ .que .info,
#page-mod-quiz-report-answersheets-attemptsheet .que .formulation ~ .que .formulation,
#page-mod-quiz-report-answersheets-attemptsheet .que .feedback ~ .que .feedback {
    page-break-inside: avoid;
}
/* End nasty hack. */

#page-mod-quiz-report-answersheets-submitresponses .cancel-submit-responses {
    float: left;
}

#page-mod-quiz-report-answersheets-attemptsheet .print-sheet,
#page-mod-quiz-report-answersheets-submitresponses .cancel-submit-responses,
#page-mod-quiz-report-answersheets-submitresponses .submit-responses {
    margin-top: 15px;
}

/* For OU Multiple choice. */
#page-mod-quiz-report-answersheets-attemptsheet .que.multichoice label {
    display: inline;
}
/* End for OU Multiple choice. */

/* For Select missing word. */
#page-mod-quiz-report-answersheets-attemptsheet .que.gapselect span.control {
    white-space: nowrap;
}
/* End for Select missing word. */

/* For Combined question that contain Pattern Match. */
#page-mod-quiz-report-answersheets-attemptsheet .que.combined .combined-pmatch-input > a,
#page-mod-quiz-report-answersheets-submitresponses .que.combined .combined-pmatch-input > a {
    display: none;
}
/* End for Combined question that contain Pattern Match*/

#page-mod-quiz-report-answersheets-submitresponses .submit-responses {
    float: right;
}

#page-mod-quiz-report-answersheets-attemptsheet .im-controls input[type=submit],
#page-mod-quiz-report-answersheets-submitresponses .im-controls input[type=submit] {
    display: none;
}

#page-mod-quiz-report-answersheets-attemptsheet #page-navbar .breadcrumb-nav {
    padding-left: 20px;
    padding-bottom: 20px;
}

#page-mod-quiz-report tr.lastchanged td {
    background-color: #afa;
}

@media print {
    /* Nasty hack for Firefox. */
    /* Unfortunately Firefox have problem with display: flex from Bootstrap. We need to change to display: block.*/
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page-wrapper,
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page,
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page-content.row {
        display: block;
    }

    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page {
        box-decoration-break: clone;
    }
    /* End nasty hack for Firefox. */

    #page-mod-quiz-report-answersheets-attemptsheet .print-sheet {
        display: none;
    }

    #page-mod-quiz-report-answersheets-attemptsheet #region-main {
        border: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header {
        display: block;
        /* stylelint-disable */
        background-color: white !important;
        /* stylelint-enable */
        margin-bottom: 20px;
        position: relative;
        z-index: 5;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header:after {
        display: block;
        content: '';
        border-bottom: 1px solid grey;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header-gecko {
        display: none;
    }

    #page-mod-quiz-report-answersheets-attemptsheet.gecko .attempt-sheet-header-gecko {
        position: fixed;
        left: 35px;
        right: 35px;
    }

    #page-mod-quiz-report-answersheets-attemptsheet #page-navbar {
        display: none;
    }
}
