#page-mod-quiz-report-answersheets-attemptsheet .attempt-sheet-header {
    display: none;
}

#page-mod-quiz-report-answersheets-attemptsheet .attempt-sheet-header-gecko {
    display: block;
    position: absolute;
    top: -50px;
    border-bottom: 1px solid grey;
    left: 15px;
    right: 15px;
    height: 40px;
    line-height: 40px;
}

#page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) table.attempt-sheet-container {
    width: 100%;
}

#page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) table.attempt-sheet-container tr {
    page-break-inside: auto;
}

#page-mod-quiz-report-answersheets-attemptsheet .que .content .question-instruction {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

#page-mod-quiz-report-answersheets-attemptsheet .print-sheet {
    margin-top: 15px;
}

#page-mod-quiz-report-answersheets-submitresponses .submit-responses {
    float: right;
}

#page-mod-quiz-report-answersheets-attemptsheet .im-controls input[type=submit],
#page-mod-quiz-report-answersheets-submitresponses .im-controls input[type=submit] {
    display: none;
}

#page-mod-quiz-report tr.lastchanged td {
    background-color: #afa;
}

@media print {
    /* Nasty hack for Firefox. */
    /* Unfortunately Firefox have problem with display: flex from Bootstrap. We need to change to display: block.*/
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page-wrapper,
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page.container-fluid,
    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page-content.row {
        display: block;
    }

    #page-mod-quiz-report-answersheets-attemptsheet.gecko #page.container-fluid {
        box-decoration-break: clone;
        margin-top: 0;
        padding-top: 50px;
    }
    /* End nasty hack for Firefox. */

    #page-mod-quiz-report-answersheets-attemptsheet #page {
        margin-top: 0;
    }

    #page-mod-quiz-report-answersheets-attemptsheet .print-sheet {
        display: none;
    }

    #page-mod-quiz-report-answersheets-attemptsheet #region-main {
        border: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header {
        display: block;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        position: relative;
        z-index: 5;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header:after {
        display: block;
        content: '';
        border-bottom: 1px solid grey;
    }

    #page-mod-quiz-report-answersheets-attemptsheet:not(.gecko) .attempt-sheet-header-gecko {
        display: none;
    }

    #page-mod-quiz-report-answersheets-attemptsheet.gecko .attempt-sheet-header-gecko {
        position: fixed;
        top: 0;
        left: 35px;
        right: 35px;
    }
}
